@import "variables";
@import "main";
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
	font-family: 'Changa';
	src: url('fonts/changa-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Changa';
	src: url('fonts/changa-Regular.ttf');
	font-weight: regular;
}
@font-face {
	font-family: 'Changa';
	src: url('fonts/changa-ExtraLight.ttf');
	font-weight: 200;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Light.ttf');
	font-weight: 450;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Medium.ttf');
	font-weight: 500;
}

$color_parr: #031927;
$color_rojo: #FC5130;
$azul_claro: #3688BD;

$Roboto: 'Roboto', sans-serif;
$Changa: 'Changa', sans-serif;

// h1, p {
// 	font-family: $Roboto;
// }



.container {
	position: relative;
	width: 100vw;
	height: 100%;
	padding-left: 5%;
	.mockup {
		position: absolute;
		top: 0;
		right: 0;
		width: 40%;
		height: 100%;
		margin-top: -3%;
		background: url(../images/landing/back.png) no-repeat;
		background-size: contain;
		background-position: right top;
		img {
			position: absolute;
			right: -13%;
			top: 20%;
			width: 85%;
		}
		@media #{$mobile} {
			display: none;
		}

	}
	.intro {
		width: 60%;
		.logo {
			display: block;
			position: relative;
			margin: 5% 0;
			.claim {
				@include typo($Changa, 1.8vw, $rojo);
				font-weight: 200;
				margin: 10px auto 0;
			}
			img {width: 12vw;}
			@media #{$mobile} {
				text-align: center;
				img {width: 50%;}
				.claim {font-size: 1.6em;}
			}
		}
		.main-parr {
			@include typo($Roboto, 25px, $color_parr);
			font-weight: 500;
			line-height: 1.2em;
			width: 80%;
			margin: 1em 0;
		}
		.parrafo {
			@include typo($Roboto, 20px, $color_parr);
			font-weight: 450;
			line-height: 1.3em;
		}
		@media #{$mobile} {
			width: 100%;
			padding: 0 15px 0 0;
		}
	}
	.suscripcion {
		margin-top: 5%;
		width: 70%;

		h2 {@include typo($Changa, 35px, $azul_claro); font-weight: 500}
		h3 {@include typo($Changa, 23px, $azul_claro); margin: .8em 0 .5em;}
		.parrafo {
			@include typo($Roboto, 20px, $azul_claro);
			font-weight: 450;
			line-height: 1.3em;
		}
		form {
			width: 255px;
		    position: relative;
		    border-radius: 30px;
		    // background-color: rgba($color_parr, .05);
		    border: 2px solid $azul_claro;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    -ms-flex-direction: row;
		    flex-direction: row;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
		    margin: 40px 0 12px;
		    padding: 0 10px 0 25px;

		    input {
			    border: 0;
			    -webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    color: $azul_claro;
			    height: 50px;
			    outline: 0;
			    font-size: 20px;
			    background-color: transparent;
			}
			::-webkit-input-placeholder {color: $azul_claro;}
			.button {
				border-radius: 20px;
			    margin-left: 10px;
			    width: 36px;
			    height: 36px;
			    background-color: $color_rojo;
   				border-color: $color_rojo;
   				margin-left: -25px;
   				box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.5);

   				@include transition(box-shadow 0.5s ease);
   				&:hover {
   					box-shadow: none;
   				}
   				img {
   					position: relative;
   					top: 1px;
   				}
			}
		}
		small {
			@include typo($Roboto, 15px, $azul_claro);
			font-weight: 450;
			line-height: 1.3em;
		}
		@media #{$mobile} {
			width: 100%;
			padding: 0 15px 0 0;
		}
	}
	footer {
		width: 100%;
		margin: 30px auto;
		p {
			@include typo($Roboto, 20px, $azul_claro);
		}
		a {
			display: inline-block;
			margin: 0 .2em;
			img {height: 20px}
		}
	}
}




	

