/*********************  fonts *****************************/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'Roboto';
  src: url("fonts/gotham_medium.ttf");
  font-weight: normal; }
/*********************** colores ***********************/
/********************** resoluciones ********************/
/********************** mixines *************************/
/***transiciones **/
/** animaciones **/
/*// scale*/
/*// translate*/
/*// skew*/
/*************************************************** Elementos globales ************************************************/
body {
  font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21))); }

img {
  image-rendering: -webkit-optimize-contrast; }

::-moz-selection {
  background: #4871D1;
  /* Gecko Browsers */ }

.br {
  line-height: 2.5em; }

/*************************************************** BASE MINIMA ************************************************/
* html {
  font-size: 100%;
  line-height: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0; } }
html, body {
  height: 100%; }

body {
  background-color: white;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.pull_right {
  float: right; }

.pull_left {
  float: left; }

@font-face {
  font-family: 'Changa';
  src: url("fonts/changa-medium.ttf");
  font-weight: medium; }
.container {
  position: relative;
  width: 100vw;
  height: 100%;
  padding-left: 5%; }
  .container .mockup {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    margin-top: -3%;
    background: url(../images/landing/back.png) no-repeat;
    background-size: cover;
    background-position: right top; }
    .container .mockup img {
      position: absolute;
      right: 0;
      top: 20%;
      width: 70%; }
    @media (max-width: 768px) {
      .container .mockup {
        display: none; } }
  .container .intro {
    width: 60%; }
    .container .intro .logo {
      display: block;
      position: relative;
      margin: 5% 0; }
      .container .intro .logo .claim {
        font-family: "Changa", sans-serif;
        color: #FC5130;
        font-size: 1.8vw;
        font-weight: light;
        margin: 10px auto 0; }
      .container .intro .logo img {
        width: 12vw; }
      @media (max-width: 768px) {
        .container .intro .logo {
          text-align: center; }
          .container .intro .logo img {
            width: 50%; }
          .container .intro .logo .claim {
            font-size: 1.6em; } }
    .container .intro .main-parr {
      font-family: "Roboto", sans-serif;
      color: #031927;
      font-size: 25px;
      font-weight: medium;
      line-height: 1.2em;
      width: 80%;
      margin: 1em 0; }
    .container .intro .parrafo {
      font-family: "Roboto", sans-serif;
      color: #031927;
      font-size: 20px;
      font-weight: light;
      line-height: 1.3em; }
    @media (max-width: 768px) {
      .container .intro {
        width: 100%;
        padding: 0 15px 0 0; } }
  .container .suscripcion {
    margin-top: 5%;
    width: 70%; }
    .container .suscripcion h2 {
      font-family: "Changa", sans-serif;
      color: #3688BD;
      font-size: 35px; }
    .container .suscripcion h3 {
      font-family: "Changa", sans-serif;
      color: #3688BD;
      font-size: 23px;
      margin: .8em 0 .5em; }
    .container .suscripcion .parrafo {
      font-family: "Roboto", sans-serif;
      color: #3688BD;
      font-size: 20px;
      font-weight: light;
      line-height: 1.3em; }
    .container .suscripcion form {
      width: 255px;
      position: relative;
      border-radius: 30px;
      border: 2px solid #3688BD;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 40px 0 12px;
      padding: 0 10px 0 25px; }
      .container .suscripcion form input {
        border: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #3688BD;
        height: 50px;
        outline: 0;
        font-size: 20px;
        background-color: transparent; }
      .container .suscripcion form ::-webkit-input-placeholder {
        color: #3688BD; }
      .container .suscripcion form .button {
        border-radius: 20px;
        margin-left: 10px;
        width: 36px;
        height: 36px;
        background-color: #FC5130;
        border-color: #FC5130;
        margin-left: -25px;
        box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.5);
        -webkit-transition: box-shadow 0.5s ease;
        -moz-transition: box-shadow 0.5s ease;
        -ms-transition: box-shadow 0.5s ease;
        -o-transition: box-shadow 0.5s ease;
        transition: box-shadow 0.5s ease; }
        .container .suscripcion form .button:hover {
          box-shadow: none; }
        .container .suscripcion form .button img {
          position: relative;
          top: 1px; }
    .container .suscripcion small {
      font-family: "Roboto", sans-serif;
      color: #3688BD;
      font-size: 15px;
      font-weight: light;
      line-height: 1.3em; }
    @media (max-width: 768px) {
      .container .suscripcion {
        width: 100%;
        padding: 0 15px 0 0; } }
  .container footer {
    width: 100%;
    margin: 30px auto; }
    .container footer p {
      font-family: "Roboto", sans-serif;
      color: #3688BD;
      font-size: 20px; }
    .container footer a {
      display: inline-block;
      margin: 0 .2em; }
      .container footer a img {
        height: 20px; }

/*# sourceMappingURL=landing.css.map */
