/*********************  fonts *****************************/
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-Regular.ttf");
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-SemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-Bold.ttf");
  font-weight: 600;
}

/*********************** colores ***********************/
/********************** resoluciones ********************/
/********************** mixines *************************/
/***transiciones **/
/** animaciones **/
/*// scale*/
/*// translate*/
/*// skew*/
/*************************************************** Elementos globales ************************************************/
body {
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21)));
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.br {
  line-height: 2.5em;
}

/*************************************************** BASE MINIMA ************************************************/
* html {
  font-size: 100%;
  line-height: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

.page {
  width: 100vw;
  height: 95vh;
}

.container {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100%;
  max-width: 500px;
  max-height: 812px;
  background-color: #F1F1F1;
  overflow-x: hidden;
}

.container .menu {
  position: fixed;
  width: 100%;
  height: 35px;
  top: calc(100% - 35px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.container .menu .menu-tit {
  color: #0C3847;
  width: 33%;
}

.container .menu .menu-tit.active {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: white;
  border-radius: 100%;
  height: 6em;
  padding-top: 40px;
  position: relative;
  top: -2em;
}

.container .boton {
  position: absolute;
  top: 25%;
  left: calc(50% - 90px);
  width: 180px;
  height: 180px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #FC5130;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
}

.container .boton:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .boton img {
  display: block;
  margin: 0 auto;
}

.container .cambio_modo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: "Roboto", Arial, helvetica;
  font-weight: 400;
  color: #FC5130;
}

.container .intro_clapp {
  position: absolute;
  bottom: 25%;
  width: 80%;
  left: 10%;
  text-align: center;
  color: #0C3847;
  font-family: "Roboto", Arial, helvetica;
}

.container .back {
  position: fixed;
  z-index: 100;
  width: 24px;
  height: 24px;
  left: 15px;
  top: 15px;
  z-index: 100;
}

.container .back svg {
  width: 100%;
  height: 100%;
}

.container .icon-esquina {
  position: fixed;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 15px;
  text-align: center;
  z-index: 100;
}

.container .cabecera {
  width: 226px;
  height: 46px;
  width: 100%;
  margin: 30px auto 20%;
  font-family: "Changa", Arial, helvetica;
  font-size: 35px;
  text-align: center;
}

.container .form-label {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", Arial, helvetica;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.container .form-input {
  position: absolute;
  top: 47%;
  left: 10%;
  width: 80%;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 4px solid white;
  font-family: "Changa", Arial, helvetica;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.container .form-input::-webkit-input-placeholder {
  opacity: .5;
  color: white;
  font-weight: 200;
}

.container .form-input:-ms-input-placeholder {
  opacity: .5;
  color: white;
  font-weight: 200;
}

.container .form-input::-ms-input-placeholder {
  opacity: .5;
  color: white;
  font-weight: 200;
}

.container .form-input::placeholder {
  opacity: .5;
  color: white;
  font-weight: 200;
}

.container.bandas {
  background: linear-gradient(117.2deg, #D65238 3.41%, #7D352B 97.16%, #17225C 111.5%);
}

.container.bandas .cabecera {
  color: white;
  margin-bottom: 5%;
}

.container.bandas .menu .menu-tit {
  color: white;
}

.container.bandas .menu .menu-tit.active {
  color: #FC5130;
}

.container.bandas .bands {
  width: 100%;
  padding: 20px;
}

.container.bandas .bands .banda {
  display: block;
  position: relative;
  height: 60px;
  width: 100%;
  margin-bottom: 2%;
}

.container.bandas .bands .banda a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container.bandas .bands .banda a img {
  width: 15vw;
  height: 15vw;
  margin-right: 10px;
  border-radius: 87px;
}

.container.bandas .bands .banda a .band {
  width: 70%;
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-size: 20px;
}

.container.bandas .bands .banda a .clapps_dados {
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-size: 20px;
}

.container.historial {
  background: linear-gradient(117.2deg, #D65238 3.41%, #7D352B 97.16%, #17225C 111.5%);
}

.container.historial .cabecera {
  color: white;
}

.container.historial .menu .menu-tit {
  color: white;
}

.container.historial .menu .menu-tit.active {
  color: #FC5130;
}

.container.historial .clapps {
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}

.container.historial .clapps .clappeado {
  display: block;
  position: relative;
  height: 60px;
  width: 100%;
}

.container.historial .clapps .clappeado a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container.historial .clapps .clappeado a img {
  width: 15vw;
  height: 15vw;
  margin-right: 10px;
  border-radius: 87px;
}

.container.historial .clapps .clappeado a .band {
  width: 70%;
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-size: 20px;
}

.container.historial .clapps .clappeado a .clapps_dados {
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-size: 20px;
}

.container.perfil {
  background: linear-gradient(110.65deg, #DE664F 3.41%, #972B1E 111.5%);
}

.container.perfil .act .elipse {
  position: absolute;
  width: 140%;
  height: 100%;
  left: 0;
  top: 107px;
}

.container.perfil .act .imagen {
  position: relative;
  display: block;
  margin: 27px auto 20px;
  width: 210px;
  height: 208px;
  background: black no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 87px;
}

.container.perfil .act .name {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 40px;
}

.container.perfil .act .resumen {
  position: relative;
  width: 80%;
  margin: 20px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.perfil .act .resumen li {
  border: 1px solid white;
  width: 74px;
  height: 63px;
  margin-left: 16px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container.perfil .act .resumen li p {
  width: 100%;
}

.container.perfil .act .resumen li p span {
  display: block;
}

.container.perfil .act .resumen li.clapps {
  background: url(../images/clapp-rojo.png) no-repeat;
  background-position: center;
  background-size: 75%;
  background-color: #FC5130;
  border: none;
  border-radius: 5px;
}

.container.perfil .act .seguir {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 30px;
}

.container.perfil .act .seguir .rrss {
  float: left;
}

.container.perfil .act .seguir .rrss a {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
}

.container.perfil .act .seguir .boton-sm {
  float: right;
  width: 7em;
  margin: 0 auto;
  padding: .5em 1em .7em;
  text-align: center;
  border-radius: 12px;
  background: #FFFFFF;
  color: #0C3847;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.container.perfil .act .seguir .boton-sm.active {
  border: 1px solid white;
  background: transparent;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container.perfil .act .descripcion {
  position: relative;
  width: 100%;
  margin: 100px auto;
  padding: 0 15px;
  color: white;
}

.container.opciones .cabecera, .container.bandas .cabecera {
  color: #0C3847;
}

.container.opciones .boton-med, .container.bandas .boton-med {
  display: block;
  width: 80%;
  margin: 10% auto;
  padding: .5em 1em .7em;
  text-align: center;
  border-radius: 12px;
  background: #0C3847;
  color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.container.sign_band {
  background-color: #0C3847;
  color: white;
}

.container.sign_band .close .skip {
  display: none;
  margin-left: -2vw;
}

.container.sign_band .cabecera {
  padding: 0 25%;
}

.container.sign_band .paso {
  display: none;
}

.container.sign_band .paso .form-input:focus {
  top: 70%;
}

.container.sign_band .paso.active {
  display: block;
}

.container.sign_band .paso.ciudad .bandup {
  display: none;
}

.container.sign_band .paso.imagen .image_label {
  display: block;
  width: 50vw;
  height: 50vw;
  border: .2em solid white;
  margin: 10% 25vw;
  text-align: center;
  font-size: 35px;
  padding-top: 6%;
  cursor: pointer;
}

.container.sign_band .paso.imagen .image_label .empty {
  font-size: 3em;
}

.container.sign_band .paso.imagen .image_label:focus, .container.sign_band .paso.imagen .image_label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.container.sign_band .paso.imagen .image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.container.sign_band .paso.subida {
  display: none;
}

.container.sign_band .paso.subida a, .container.sign_band .paso.subida ul {
  display: block;
  width: 100%;
  margin-top: 40%;
  text-align: center;
  font-size: 25px;
}

.container.sign_band .paso.subida .bandas_creadas li {
  margin-bottom: 1em;
}

.container.sign_band .sig {
  position: absolute;
  top: 92%;
  width: 10%;
  text-align: center;
  margin-left: 45%;
}

.container.sign_band .boton-med {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 90%;
  width: 75%;
  text-align: center;
  left: 12.5%;
  background-color: white;
  color: #0C3847;
  border-radius: .5em;
  padding: .4em .6em;
}

.container.showtime {
  background-color: #0C3847;
}

.container.showtime .band_name {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 13%;
  text-align: center;
  color: white;
}

.container.showtime .boton {
  color: white;
  text-align: center;
  font-family: "Changa", Arial, helvetica;
  font-weight: 600;
  font-size: 40px;
  display: block;
  padding-top: 17%;
}

.container.showtime .intro_clapp {
  color: white;
}

.container.showtime .menu .menu-tit {
  color: white;
}

.container.showtime .menu .menu-tit.active {
  color: #0C3847;
}

.container.show_perfil .editar {
  position: fixed;
  background: white;
  padding: 15px;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  z-index: 100;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 0px 15.5263px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 0px 15.5263px rgba(0, 0, 0, 0.27);
}

.container.show_perfil .editar img {
  width: 24px;
}

.container.show_perfil .editar .save {
  display: none;
}

.container.show_perfil .editar.able {
  background: #666666;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container.show_perfil input.able, .container.show_perfil textarea.able {
  background: white !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

.container.show_perfil .act .imagen {
  position: relative;
  display: block;
  margin: 27px auto 20px;
  width: 210px;
  height: 208px;
  background: black;
  background-size: cover;
  border-radius: 87px;
}

.container.show_perfil .act .imagen.able {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.container.show_perfil .act .image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.container.show_perfil .act .name {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", Arial, helvetica;
  color: #0C3847;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 40px;
  background: none;
  border: none;
  display: block;
}

.container.show_perfil .act .tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px auto;
}

.container.show_perfil .act .tabs li.menu-tit {
  width: 33%;
  font-size: 20px;
  font-weight: 500;
  color: #0C3847;
}

.container.show_perfil .act .tabs li.menu-tit.active {
  text-decoration: underline;
}

.container.show_perfil .secciones > div {
  display: none;
}

.container.show_perfil .secciones .stats {
  display: block;
}

.container.show_perfil .secciones .stats .resumen {
  position: relative;
  width: 80%;
  margin: 20px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.show_perfil .secciones .stats .resumen li {
  border: 1px solid #0C3847;
  width: 74px;
  height: 63px;
  margin-left: 16px;
  color: #0C3847;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container.show_perfil .secciones .stats .resumen li p {
  width: 100%;
}

.container.show_perfil .secciones .info .descripcion {
  position: relative;
  width: 90%;
  margin: .5em 5%;
  padding: 10px 15px;
  color: #0C3847;
  background: rgba(0, 0, 0, 0.05);
  border: none;
}

.container.historial_shows .proximamente {
  position: fixed;
  width: 100%;
  text-align: center;
  margin-top: 40vh;
  color: white;
}

.container.historial_shows img {
  width: 100%;
  height: 100%;
}

.container.historial_shows .menu .menu-tit {
  color: white;
}

.container.historial_shows .menu .menu-tit.active {
  color: #0C3847;
}
/*# sourceMappingURL=bands.css.map */