@import "global";

.container.login {
	.cabecera {
		height: 116px;
		img {height: 116px;}
	} 
	
	.tabs {
		width:100%;
		display: block;
		margin: 5% 5% 10%;
		cursor: pointer;
		h3 {
			@extend .menu-tit;
			display: inline-block;
			width: 20%;
			font-size: 20px;
			text-align: center;
			color: $secundario;
			&.reset {
				width: 42%;
				text-align: right;
			}
		}
	}
	.form {
		.form-input {
			position: relative;
			// margin-left: 10%;
			background-color: rgba(0,0,0,.05);
			border: none;
			margin: 3% auto 7%;
			// top: 40%;
			color: $secundario;
			&.active {text-decoration: underline;}
			&::placeholder {opacity: .5; color: black;}
		}
		.form-label {color: $secundario;}
		.tab {
			display: none;
			position: absolute;
			width: 100%;
			height: auto;
			&.active {
				display: block;
			}
		}
	}
	
	.logout {display: none;}
	button {
		display: block;
		// position: absolute;
		// bottom: 20%;
		width: 50%;
		margin: 10% 25%;
		// left: 25%;
		color: white;
		padding: 2% 4%;
		background-color: $primario;
		border: none;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3), 0px 0px 15px rgba(252, 81, 48, 0.4);
		border-radius: 11px;
	}
	.social_login {
		position: fixed;
		width: 50%;
		margin-left: 25%;
		bottom: 4%;
		z-index: 100;
		text-align: center;
		.fb_login {
			width: 4em;
			height: 4em;
			background: url("../images/facebook.svg") no-repeat;
			background-size: contain;
		}
		.goo_login {
			width: 4em;
			height: 4em;
			background: url("../images/google.svg") no-repeat;
			background-size: contain;
		}
	}
}
