@import url(/Users/robertomesejosalas/websites/dclappmusic.github.io/prototipo/css/fonts.css);
/*********************** colores ***********************/
/********************** resoluciones ********************/
/********************** mixines *************************/
/***transiciones **/
/** animaciones **/
/*// scale*/
/*// translate*/
/*// skew*/
/*************************************************** Elementos globales ************************************************/
body {
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21)));
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.br {
  line-height: 2.5em;
}

/*************************************************** BASE MINIMA ************************************************/
* html {
  font-size: 100%;
  line-height: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

.titulo {
  font-family: "Roboto", Arial, helvetica;
  font-size: 40px;
}

.display-med {
  font-family: "Changa", Arial, helvetica;
  font-size: 30px;
}

.menu-tit {
  font-family: "Changa", Arial, helvetica;
  font-size: 13px;
  font-weight: 200;
}

.menu-tit.active {
  font-size: 20px;
  font-weight: 500;
}

.parrafo {
  font-family: "Roboto", Arial, helvetica;
  font-size: 15px;
  line-height: 1.5em;
}

.boton-sm {
  font-family: "Roboto", Arial, helvetica;
  font-size: 15px;
  font-weight: 400;
}

.container {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100%;
  max-width: 500px;
  max-height: 812px;
  background-color: #F1F1F1;
  overflow-x: hidden;
}

.container .menu {
  position: fixed;
  width: 100%;
  height: 35px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.container .menu .menu-tit {
  color: #0C3847;
  width: calc(360px / 3);
}

.container .boton {
  position: absolute;
  top: 25%;
  left: calc(50% - 90px);
  width: 180px;
  height: 180px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #FC5130;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
}

.container .boton:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .boton img {
  display: block;
  margin: 0 auto;
}

.container .cambio_modo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: "Roboto", Arial, helvetica;
  font-weight: 400;
  color: #FC5130;
}

.container .intro_clapp {
  position: absolute;
  bottom: 25%;
  width: 80%;
  left: 10%;
  text-align: center;
  color: #0C3847;
  font-family: "Roboto", Arial, helvetica;
}

.container .back {
  position: fixed;
  z-index: 100;
  width: 24px;
  height: 24px;
  left: 15px;
  top: 15px;
  z-index: 100;
}

.container .back svg {
  width: 100%;
  height: 100%;
}

.container .close {
  position: fixed;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 15px;
  z-index: 100;
}

.home .boton {
  background-color: #FC5130;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
}

.home .intro_clapp {
  color: #0C3847;
}

.clapp .fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 81, 48, 0.8)), to(rgba(252, 81, 48, 0.8)));
  background: linear-gradient(0deg, rgba(252, 81, 48, 0.8), rgba(252, 81, 48, 0.8));
}

.clapp .fondo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.clapp .boton {
  position: relative;
  top: 25%;
  left: calc(50% - 90px);
  width: 180px;
  height: 180px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #0C3847;
  -webkit-box-shadow: 0px 0px 25.0045px rgba(0, 0, 0, 0.46);
          box-shadow: 0px 0px 25.0045px rgba(0, 0, 0, 0.46);
}

.clapp .boton img {
  display: block;
  margin: 0 auto;
}

.clapp .btn_clapp .num_clapps {
  position: absolute;
  top: -50px;
  width: 100%;
  font-family: "Roboto", Arial, helvetica;
  color: #0C3847;
  font-size: 35px;
}

.clapp .act {
  position: absolute;
  width: 80%;
  height: 47px;
  left: 10%;
  top: 381px;
  text-align: center;
}

.clapp .act .name {
  font-size: 20px;
  color: #0C3847;
}

.clapp .act .name b {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 900;
  font-size: 40px;
}

.historial {
  background: linear-gradient(117.2deg, #D65238 3.41%, #7D352B 97.16%, #17225C 111.5%);
}

.historial .menu .menu-tit {
  color: white;
}

.historial .cabecera {
  width: 226px;
  height: 46px;
  width: 100%;
  margin-top: 15px;
  font-family: "Changa", Arial, helvetica;
  font-size: 25px;
  text-align: center;
  color: white;
}

.historial .clapps {
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}

.historial .clapps .clappeado {
  display: block;
  position: relative;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.historial .clapps .clappeado img {
  width: 16%;
  height: 85%;
  margin-right: 10px;
  border-radius: 87px;
}

.historial .clapps .clappeado .band {
  width: 70%;
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-size: 20px;
}

.historial .clapps .clappeado .clapps_dados {
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-size: 20px;
}

.perfil {
  background: linear-gradient(110.65deg, #DE664F 3.41%, #972B1E 111.5%);
}

.perfil .act .elipse {
  position: absolute;
  width: 140%;
  height: 100%;
  left: 0;
  top: 107px;
}

.perfil .act .imagen {
  position: relative;
  display: block;
  margin: 27px auto 20px;
  width: 210px;
  height: 208px;
  background: black;
  background-size: cover;
  background-position: center;
  border-radius: 87px;
}

.perfil .act .name {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 40px;
}

.perfil .act .resumen {
  position: relative;
  width: 80%;
  margin: 20px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perfil .act .resumen li {
  border: 1px solid white;
  width: 74px;
  height: 63px;
  margin-left: 16px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.perfil .act .resumen li p {
  width: 100%;
}

.perfil .act .siguiendo {
  position: relative;
  width: 100%;
  height: 30px;
}

.perfil .act .siguiendo .boton-sm {
  float: right;
  margin-right: 15%;
  padding: .5em .8em;
  text-align: center;
  background: #FFFFFF;
  color: #0C3847;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.perfil .act .descripcion {
  position: relative;
  width: 100%;
  margin: 100px auto;
  padding: 0 15px;
  color: white;
}

.showtime {
  background-color: #0C3847;
}

.showtime .boton {
  color: white;
  text-align: center;
  font-family: "Changa", Arial, helvetica;
  font-weight: 600;
  font-size: 40px;
  padding-left: .8em;
}

.showtime .intro_clapp {
  color: white;
}

.showtime .menu .menu-tit {
  color: white;
}

.show_perfil .act .imagen {
  position: relative;
  display: block;
  margin: 27px auto 20px;
  width: 210px;
  height: 208px;
  background: black;
  background-size: cover;
  border-radius: 87px;
}

.show_perfil .act .name {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", Arial, helvetica;
  color: #0C3847;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 40px;
}

.show_perfil .act .tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px auto;
}

.show_perfil .act .tabs li.menu-tit {
  width: 33%;
  font-size: 20px;
  font-weight: 500;
  color: #0C3847;
}

.show_perfil .act .tabs li.menu-tit.active {
  text-decoration: underline;
}

.show_perfil .secciones > div {
  display: none;
}

.show_perfil .secciones .stats {
  display: block;
}

.show_perfil .secciones .stats .resumen {
  position: relative;
  width: 80%;
  margin: 20px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show_perfil .secciones .stats .resumen li {
  border: 1px solid #0C3847;
  width: 74px;
  height: 63px;
  margin-left: 16px;
  color: #0C3847;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.show_perfil .secciones .stats .resumen li p {
  width: 100%;
}

.show_perfil .secciones .info .descripcion {
  position: relative;
  width: 100%;
  margin: 100px auto;
  padding: 0 15px;
  color: #0C3847;
}
/*# sourceMappingURL=styles.css.map */