/*********************  fonts *****************************/
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-Regular.ttf");
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-SemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Changa';
  src: url("fonts/Changa-Bold.ttf");
  font-weight: 600;
}

/*********************** colores ***********************/
/********************** resoluciones ********************/
/********************** mixines *************************/
/***transiciones **/
/** animaciones **/
/*// scale*/
/*// translate*/
/*// skew*/
/*************************************************** Elementos globales ************************************************/
body {
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21)));
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.br {
  line-height: 2.5em;
}

/*************************************************** BASE MINIMA ************************************************/
* html {
  font-size: 100%;
  line-height: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

.titulo {
  font-family: "Roboto", Arial, helvetica;
  font-size: 40px;
}

.display-big {
  font-family: "Changa", Arial, helvetica;
  font-size: 35px;
}

.display-med {
  font-family: "Changa", Arial, helvetica;
  font-size: 25px;
}

.display-sm {
  font-family: "Changa", Arial, helvetica;
  font-size: 18px;
}

.menu-tit, .container.login .tabs h3 {
  font-family: "Changa", Arial, helvetica;
  font-size: 13px;
  font-weight: 200;
}

.menu-tit.active, .container.login .tabs h3.active {
  font-size: 20px;
  font-weight: 500;
}

.parrafo {
  font-family: "Roboto", Arial, helvetica;
  font-size: 15px;
  line-height: 1.5em;
}

.parrafo-sm {
  font-family: "Roboto", Arial, helvetica;
  font-size: 10px;
}

.boton-med {
  font-family: "Roboto", Arial, helvetica;
  font-size: 20px;
  font-weight: bold;
}

.boton-sm {
  font-family: "Roboto", Arial, helvetica;
  font-size: 15px;
  font-weight: 400;
}

.container {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100%;
  max-width: 500px;
  max-height: 812px;
  background-color: #F1F1F1;
  overflow-x: hidden;
}

.container .menu {
  position: fixed;
  width: 100%;
  height: 35px;
  top: calc(100% - 35px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.container .menu .menu-tit, .container.login .menu .tabs h3, .container.login .tabs .menu h3 {
  color: #0C3847;
  width: 33%;
}

.container .menu .menu-tit.active, .container.login .menu .tabs h3.active, .container.login .tabs .menu h3.active {
  background-color: white;
  border-radius: 100%;
  height: 6em;
  padding-top: 40px;
  position: relative;
  top: -2em;
}

.container .boton {
  position: absolute;
  top: 25%;
  left: calc(50% - 90px);
  width: 180px;
  height: 180px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #FC5130;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
}

.container .boton:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .boton img {
  display: block;
  margin: 0 auto;
}

.container .cambio_modo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: "Roboto", Arial, helvetica;
  font-weight: 400;
  color: #FC5130;
}

.container .intro_clapp {
  position: absolute;
  bottom: 25%;
  width: 80%;
  left: 10%;
  text-align: center;
  color: #0C3847;
  font-family: "Roboto", Arial, helvetica;
}

.container .back {
  position: fixed;
  z-index: 100;
  width: 24px;
  height: 24px;
  left: 15px;
  top: 15px;
  z-index: 100;
}

.container .back svg {
  width: 100%;
  height: 100%;
}

.container .icon-esquina {
  position: fixed;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 15px;
  text-align: center;
  z-index: 100;
}

.container .cabecera {
  width: 226px;
  height: 46px;
  width: 100%;
  margin: 30px auto 20%;
  font-family: "Changa", Arial, helvetica;
  font-size: 35px;
  text-align: center;
}

.container .form-label {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", Arial, helvetica;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.container .form-input {
  position: absolute;
  top: 47%;
  left: 10%;
  width: 80%;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 4px solid white;
  font-family: "Changa", Arial, helvetica;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.container .form-input::-webkit-input-placeholder {
  opacity: .5;
  color: white;
  font-weight: 200;
}

.container .form-input:-ms-input-placeholder {
  opacity: .5;
  color: white;
  font-weight: 200;
}

.container .form-input::-ms-input-placeholder {
  opacity: .5;
  color: white;
  font-weight: 200;
}

.container .form-input::placeholder {
  opacity: .5;
  color: white;
  font-weight: 200;
}

.container.home .options .options_login {
  display: none;
  position: fixed;
  width: 5em;
  background: white;
  right: 3em;
  top: 15px;
  padding: .5em .7em;
}

.container.home .options .options_login.active {
  display: block;
}

.container.home .boton {
  background-color: #FC5130;
  -webkit-box-shadow: 0px 0px #DFDFDF, 3px 1px #DFDFDF, 6px 2px #DFDFDF, 9px 3px #DFDFDF, 12px 4px #DFDFDF, 15px 5px #DFDFDF, 18px 6px #DFDFDF, 21px 7px #DFDFDF, 24px 8px #DFDFDF, 27px 9px #DFDFDF, 30px 10px #DFDFDF, 33px 11px #DFDFDF, 36px 12px #DFDFDF, 39px 13px #DFDFDF, 42px 14px #DFDFDF, 45px 15px #DFDFDF, 48px 16px #DFDFDF, 51px 17px #DFDFDF, 54px 18px #DFDFDF, 57px 19px #DFDFDF, 60px 20px #DFDFDF, 63px 21px #DFDFDF, 66px 22px #DFDFDF, 69px 23px #DFDFDF, 72px 24px #DFDFDF, 75px 25px #DFDFDF, 78px 26px #DFDFDF, 81px 27px #DFDFDF, 84px 28px #DFDFDF, 87px 29px #DFDFDF, 90px 30px #DFDFDF, 93px 31px #DFDFDF, 96px 32px #DFDFDF, 99px 33px #DFDFDF, 102px 34px #DFDFDF, 105px 35px #DFDFDF, 108px 36px #DFDFDF, 111px 37px #DFDFDF, 114px 38px #DFDFDF, 117px 39px #DFDFDF, 120px 40px #DFDFDF, 123px 41px #DFDFDF, 126px 42px #DFDFDF, 129px 43px #DFDFDF, 132px 44px #DFDFDF, 135px 45px #DFDFDF, 138px 46px #DFDFDF, 141px 47px #DFDFDF, 144px 48px #DFDFDF, 147px 49px #DFDFDF, 150px 50px #DFDFDF, 153px 51px #DFDFDF, 156px 52px #DFDFDF, 159px 53px #DFDFDF, 162px 54px #DFDFDF, 165px 55px #DFDFDF, 168px 56px #DFDFDF, 171px 57px #DFDFDF, 174px 58px #DFDFDF, 177px 59px #DFDFDF, 180px 60px #DFDFDF, 183px 61px #DFDFDF, 186px 62px #DFDFDF, 189px 63px #DFDFDF, 192px 64px #DFDFDF, 195px 65px #DFDFDF, 198px 66px #DFDFDF, 201px 67px #DFDFDF, 204px 68px #DFDFDF, 207px 69px #DFDFDF, 210px 70px #DFDFDF, 213px 71px #DFDFDF, 216px 72px #DFDFDF, 219px 73px #DFDFDF, 222px 74px #DFDFDF, 225px 75px #DFDFDF, 228px 76px #DFDFDF, 231px 77px #DFDFDF, 234px 78px #DFDFDF, 237px 79px #DFDFDF, 240px 80px #DFDFDF, 243px 81px #DFDFDF, 246px 82px #DFDFDF, 249px 83px #DFDFDF, 252px 84px #DFDFDF, 255px 85px #DFDFDF, 258px 86px #DFDFDF, 261px 87px #DFDFDF, 264px 88px #DFDFDF, 267px 89px #DFDFDF, 270px 90px #DFDFDF, 273px 91px #DFDFDF, 276px 92px #DFDFDF, 279px 93px #DFDFDF, 282px 94px #DFDFDF, 285px 95px #DFDFDF, 288px 96px #DFDFDF, 291px 97px #DFDFDF, 294px 98px #DFDFDF, 297px 99px #DFDFDF, 300px 100px #DFDFDF, 303px 101px #DFDFDF, 306px 102px #DFDFDF, 309px 103px #DFDFDF, 312px 104px #DFDFDF, 315px 105px #DFDFDF, 318px 106px #DFDFDF, 321px 107px #DFDFDF, 324px 108px #DFDFDF, 327px 109px #DFDFDF, 330px 110px #DFDFDF, 333px 111px #DFDFDF, 336px 112px #DFDFDF, 339px 113px #DFDFDF, 342px 114px #DFDFDF, 345px 115px #DFDFDF, 348px 116px #DFDFDF, 351px 117px #DFDFDF, 354px 118px #DFDFDF, 357px 119px #DFDFDF, 360px 120px #DFDFDF, 363px 121px #DFDFDF, 366px 122px #DFDFDF, 369px 123px #DFDFDF, 372px 124px #DFDFDF, 375px 125px #DFDFDF, 378px 126px #DFDFDF, 381px 127px #DFDFDF, 384px 128px #DFDFDF, 387px 129px #DFDFDF, 390px 130px #DFDFDF, 393px 131px #DFDFDF, 396px 132px #DFDFDF, 399px 133px #DFDFDF, 402px 134px #DFDFDF, 405px 135px #DFDFDF, 408px 136px #DFDFDF, 411px 137px #DFDFDF, 414px 138px #DFDFDF, 417px 139px #DFDFDF, 420px 140px #DFDFDF, 423px 141px #DFDFDF, 426px 142px #DFDFDF, 429px 143px #DFDFDF, 432px 144px #DFDFDF, 435px 145px #DFDFDF, 438px 146px #DFDFDF, 441px 147px #DFDFDF, 444px 148px #DFDFDF, 447px 149px #DFDFDF, 450px 150px #DFDFDF, 453px 151px #DFDFDF, 456px 152px #DFDFDF, 459px 153px #DFDFDF, 462px 154px #DFDFDF, 465px 155px #DFDFDF, 468px 156px #DFDFDF, 471px 157px #DFDFDF, 474px 158px #DFDFDF, 477px 159px #DFDFDF, 480px 160px #DFDFDF, 483px 161px #DFDFDF, 486px 162px #DFDFDF, 489px 163px #DFDFDF, 492px 164px #DFDFDF, 495px 165px #DFDFDF, 498px 166px #DFDFDF, 501px 167px #DFDFDF, 504px 168px #DFDFDF, 507px 169px #DFDFDF, 510px 170px #DFDFDF, 513px 171px #DFDFDF, 516px 172px #DFDFDF, 519px 173px #DFDFDF, 522px 174px #DFDFDF, 525px 175px #DFDFDF, 528px 176px #DFDFDF, 531px 177px #DFDFDF, 534px 178px #DFDFDF, 537px 179px #DFDFDF, 540px 180px #DFDFDF, 543px 181px #DFDFDF, 546px 182px #DFDFDF, 549px 183px #DFDFDF, 552px 184px #DFDFDF, 555px 185px #DFDFDF, 558px 186px #DFDFDF, 561px 187px #DFDFDF, 564px 188px #DFDFDF, 567px 189px #DFDFDF, 570px 190px #DFDFDF, 573px 191px #DFDFDF, 576px 192px #DFDFDF, 579px 193px #DFDFDF, 582px 194px #DFDFDF, 585px 195px #DFDFDF, 588px 196px #DFDFDF, 591px 197px #DFDFDF, 594px 198px #DFDFDF, 597px 199px #DFDFDF, 600px 200px #DFDFDF;
          box-shadow: 0px 0px #DFDFDF, 3px 1px #DFDFDF, 6px 2px #DFDFDF, 9px 3px #DFDFDF, 12px 4px #DFDFDF, 15px 5px #DFDFDF, 18px 6px #DFDFDF, 21px 7px #DFDFDF, 24px 8px #DFDFDF, 27px 9px #DFDFDF, 30px 10px #DFDFDF, 33px 11px #DFDFDF, 36px 12px #DFDFDF, 39px 13px #DFDFDF, 42px 14px #DFDFDF, 45px 15px #DFDFDF, 48px 16px #DFDFDF, 51px 17px #DFDFDF, 54px 18px #DFDFDF, 57px 19px #DFDFDF, 60px 20px #DFDFDF, 63px 21px #DFDFDF, 66px 22px #DFDFDF, 69px 23px #DFDFDF, 72px 24px #DFDFDF, 75px 25px #DFDFDF, 78px 26px #DFDFDF, 81px 27px #DFDFDF, 84px 28px #DFDFDF, 87px 29px #DFDFDF, 90px 30px #DFDFDF, 93px 31px #DFDFDF, 96px 32px #DFDFDF, 99px 33px #DFDFDF, 102px 34px #DFDFDF, 105px 35px #DFDFDF, 108px 36px #DFDFDF, 111px 37px #DFDFDF, 114px 38px #DFDFDF, 117px 39px #DFDFDF, 120px 40px #DFDFDF, 123px 41px #DFDFDF, 126px 42px #DFDFDF, 129px 43px #DFDFDF, 132px 44px #DFDFDF, 135px 45px #DFDFDF, 138px 46px #DFDFDF, 141px 47px #DFDFDF, 144px 48px #DFDFDF, 147px 49px #DFDFDF, 150px 50px #DFDFDF, 153px 51px #DFDFDF, 156px 52px #DFDFDF, 159px 53px #DFDFDF, 162px 54px #DFDFDF, 165px 55px #DFDFDF, 168px 56px #DFDFDF, 171px 57px #DFDFDF, 174px 58px #DFDFDF, 177px 59px #DFDFDF, 180px 60px #DFDFDF, 183px 61px #DFDFDF, 186px 62px #DFDFDF, 189px 63px #DFDFDF, 192px 64px #DFDFDF, 195px 65px #DFDFDF, 198px 66px #DFDFDF, 201px 67px #DFDFDF, 204px 68px #DFDFDF, 207px 69px #DFDFDF, 210px 70px #DFDFDF, 213px 71px #DFDFDF, 216px 72px #DFDFDF, 219px 73px #DFDFDF, 222px 74px #DFDFDF, 225px 75px #DFDFDF, 228px 76px #DFDFDF, 231px 77px #DFDFDF, 234px 78px #DFDFDF, 237px 79px #DFDFDF, 240px 80px #DFDFDF, 243px 81px #DFDFDF, 246px 82px #DFDFDF, 249px 83px #DFDFDF, 252px 84px #DFDFDF, 255px 85px #DFDFDF, 258px 86px #DFDFDF, 261px 87px #DFDFDF, 264px 88px #DFDFDF, 267px 89px #DFDFDF, 270px 90px #DFDFDF, 273px 91px #DFDFDF, 276px 92px #DFDFDF, 279px 93px #DFDFDF, 282px 94px #DFDFDF, 285px 95px #DFDFDF, 288px 96px #DFDFDF, 291px 97px #DFDFDF, 294px 98px #DFDFDF, 297px 99px #DFDFDF, 300px 100px #DFDFDF, 303px 101px #DFDFDF, 306px 102px #DFDFDF, 309px 103px #DFDFDF, 312px 104px #DFDFDF, 315px 105px #DFDFDF, 318px 106px #DFDFDF, 321px 107px #DFDFDF, 324px 108px #DFDFDF, 327px 109px #DFDFDF, 330px 110px #DFDFDF, 333px 111px #DFDFDF, 336px 112px #DFDFDF, 339px 113px #DFDFDF, 342px 114px #DFDFDF, 345px 115px #DFDFDF, 348px 116px #DFDFDF, 351px 117px #DFDFDF, 354px 118px #DFDFDF, 357px 119px #DFDFDF, 360px 120px #DFDFDF, 363px 121px #DFDFDF, 366px 122px #DFDFDF, 369px 123px #DFDFDF, 372px 124px #DFDFDF, 375px 125px #DFDFDF, 378px 126px #DFDFDF, 381px 127px #DFDFDF, 384px 128px #DFDFDF, 387px 129px #DFDFDF, 390px 130px #DFDFDF, 393px 131px #DFDFDF, 396px 132px #DFDFDF, 399px 133px #DFDFDF, 402px 134px #DFDFDF, 405px 135px #DFDFDF, 408px 136px #DFDFDF, 411px 137px #DFDFDF, 414px 138px #DFDFDF, 417px 139px #DFDFDF, 420px 140px #DFDFDF, 423px 141px #DFDFDF, 426px 142px #DFDFDF, 429px 143px #DFDFDF, 432px 144px #DFDFDF, 435px 145px #DFDFDF, 438px 146px #DFDFDF, 441px 147px #DFDFDF, 444px 148px #DFDFDF, 447px 149px #DFDFDF, 450px 150px #DFDFDF, 453px 151px #DFDFDF, 456px 152px #DFDFDF, 459px 153px #DFDFDF, 462px 154px #DFDFDF, 465px 155px #DFDFDF, 468px 156px #DFDFDF, 471px 157px #DFDFDF, 474px 158px #DFDFDF, 477px 159px #DFDFDF, 480px 160px #DFDFDF, 483px 161px #DFDFDF, 486px 162px #DFDFDF, 489px 163px #DFDFDF, 492px 164px #DFDFDF, 495px 165px #DFDFDF, 498px 166px #DFDFDF, 501px 167px #DFDFDF, 504px 168px #DFDFDF, 507px 169px #DFDFDF, 510px 170px #DFDFDF, 513px 171px #DFDFDF, 516px 172px #DFDFDF, 519px 173px #DFDFDF, 522px 174px #DFDFDF, 525px 175px #DFDFDF, 528px 176px #DFDFDF, 531px 177px #DFDFDF, 534px 178px #DFDFDF, 537px 179px #DFDFDF, 540px 180px #DFDFDF, 543px 181px #DFDFDF, 546px 182px #DFDFDF, 549px 183px #DFDFDF, 552px 184px #DFDFDF, 555px 185px #DFDFDF, 558px 186px #DFDFDF, 561px 187px #DFDFDF, 564px 188px #DFDFDF, 567px 189px #DFDFDF, 570px 190px #DFDFDF, 573px 191px #DFDFDF, 576px 192px #DFDFDF, 579px 193px #DFDFDF, 582px 194px #DFDFDF, 585px 195px #DFDFDF, 588px 196px #DFDFDF, 591px 197px #DFDFDF, 594px 198px #DFDFDF, 597px 199px #DFDFDF, 600px 200px #DFDFDF;
}

.container.home .intro_clapp {
  color: #0C3847;
}

.container.login .cabecera {
  height: 116px;
}

.container.login .cabecera img {
  height: 116px;
}

.container.login .tabs {
  width: 100%;
  display: block;
  margin: 5% 5% 10%;
  cursor: pointer;
}

.container.login .tabs h3 {
  display: inline-block;
  width: 20%;
  font-size: 20px;
  text-align: center;
  color: #0C3847;
}

.container.login .tabs h3.reset {
  width: 42%;
  text-align: right;
}

.container.login .form .form-input {
  position: relative;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  margin: 3% auto 7%;
  color: #0C3847;
}

.container.login .form .form-input.active {
  text-decoration: underline;
}

.container.login .form .form-input::-webkit-input-placeholder {
  opacity: .5;
  color: black;
}

.container.login .form .form-input:-ms-input-placeholder {
  opacity: .5;
  color: black;
}

.container.login .form .form-input::-ms-input-placeholder {
  opacity: .5;
  color: black;
}

.container.login .form .form-input::placeholder {
  opacity: .5;
  color: black;
}

.container.login .form .form-label {
  color: #0C3847;
}

.container.login .form .tab {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
}

.container.login .form .tab.active {
  display: block;
}

.container.login .logout {
  display: none;
}

.container.login button {
  display: block;
  width: 50%;
  margin: 10% 25%;
  color: white;
  padding: 2% 4%;
  background-color: #FC5130;
  border: none;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3), 0px 0px 15px rgba(252, 81, 48, 0.4);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3), 0px 0px 15px rgba(252, 81, 48, 0.4);
  border-radius: 11px;
}

.container.login .social_login {
  position: fixed;
  width: 50%;
  margin-left: 25%;
  bottom: 4%;
  z-index: 100;
  text-align: center;
}

.container.login .social_login .fb_login {
  width: 4em;
  height: 4em;
  background: url("../images/facebook.svg") no-repeat;
  background-size: contain;
}

.container.login .social_login .goo_login {
  width: 4em;
  height: 4em;
  background: url("../images/google.svg") no-repeat;
  background-size: contain;
}

.container.clapp .fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 81, 48, 0.8)), to(rgba(252, 81, 48, 0.8)));
  background: linear-gradient(0deg, rgba(252, 81, 48, 0.8), rgba(252, 81, 48, 0.8));
  background-blend-mode: screen, normal;
}

.container.clapp .fondo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.container.clapp .boton {
  position: relative;
  top: 25%;
  left: calc(50% - 90px);
  width: 180px;
  height: 180px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #0C3847;
  -webkit-box-shadow: 0px 0px 25.0045px rgba(0, 0, 0, 0.46);
          box-shadow: 0px 0px 25.0045px rgba(0, 0, 0, 0.46);
}

.container.clapp .boton img {
  display: block;
  margin: 0 auto;
}

.container.clapp .btn_clapp .num_clapps {
  position: absolute;
  top: -50px;
  width: 100%;
  font-family: "Roboto", Arial, helvetica;
  color: #0C3847;
  font-size: 35px;
}

.container.clapp .act {
  position: absolute;
  width: 80%;
  height: 47px;
  left: 10%;
  top: 381px;
  text-align: center;
}

.container.clapp .act .name {
  font-size: 20px;
  color: #0C3847;
}

.container.clapp .act .name b {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
}

.container.clapp .act .show_cercano {
  color: #0C3847;
}

.container.historial {
  background: linear-gradient(117.2deg, #D65238 3.41%, #7D352B 97.16%, #17225C 111.5%);
}

.container.historial .cabecera {
  color: white;
}

.container.historial .menu .menu-tit, .container.historial .menu .container.login .tabs h3, .container.login .tabs .container.historial .menu h3 {
  color: white;
}

.container.historial .menu .menu-tit.active, .container.historial .menu .container.login .tabs h3.active, .container.login .tabs .container.historial .menu h3.active {
  color: #FC5130;
}

.container.historial .clapps {
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}

.container.historial .clapps .clappeado {
  display: block;
  position: relative;
  height: 60px;
  width: 100%;
}

.container.historial .clapps .clappeado a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container.historial .clapps .clappeado a img {
  width: 15vw;
  height: 15vw;
  margin-right: 10px;
  border-radius: 87px;
}

.container.historial .clapps .clappeado a .band {
  width: 70%;
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-size: 20px;
}

.container.historial .clapps .clappeado a .clapps_dados {
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-size: 20px;
}

.container.perfil {
  background: linear-gradient(110.65deg, #DE664F 3.41%, #972B1E 111.5%);
}

.container.perfil .act .elipse {
  position: absolute;
  width: 140%;
  height: 100%;
  left: 0;
  top: 107px;
}

.container.perfil .act .imagen {
  position: relative;
  display: block;
  margin: 27px auto 20px;
  width: 210px;
  height: 208px;
  background: black no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 87px;
}

.container.perfil .act .name {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", Arial, helvetica;
  color: white;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 40px;
}

.container.perfil .act .resumen {
  position: relative;
  width: 80%;
  margin: 20px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.perfil .act .resumen li {
  border: 1px solid white;
  width: 74px;
  height: 63px;
  margin-left: 16px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container.perfil .act .resumen li p {
  width: 100%;
}

.container.perfil .act .resumen li p span {
  display: block;
}

.container.perfil .act .resumen li.clapps {
  background: url(../images/clapp-rojo.png) no-repeat;
  background-position: center;
  background-size: 75%;
  background-color: #FC5130;
  border: none;
  border-radius: 5px;
}

.container.perfil .act .seguir {
  position: relative;
  width: 100%;
  height: 30px;
}

.container.perfil .act .seguir .boton-sm {
  width: 7em;
  margin: 0 auto;
  padding: .5em 1em .7em;
  text-align: center;
  border-radius: 12px;
  background: #FFFFFF;
  color: #0C3847;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.container.perfil .act .seguir .boton-sm.active {
  border: 1px solid white;
  background: transparent;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container.perfil .act .descripcion {
  position: relative;
  width: 100%;
  margin: 100px auto;
  padding: 0 15px;
  color: white;
}

.container.opciones .cabecera {
  color: #0C3847;
}

.container.opciones .boton-med {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: .5em 1em .7em;
  text-align: center;
  border-radius: 12px;
  background: #0C3847;
  color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.container.sign_band {
  background-color: #0C3847;
  color: white;
}

.container.sign_band .close .skip {
  display: none;
  margin-left: -2vw;
}

.container.sign_band .cabecera {
  padding: 0 25%;
}

.container.sign_band .paso {
  display: none;
}

.container.sign_band .paso .form-input {
  top: 47vh;
}

.container.sign_band .paso.active {
  display: block;
}

.container.sign_band .paso.ciudad .bandup {
  display: none;
}

.container.sign_band .paso.imagen .image_label {
  display: block;
  width: 50vw;
  height: 50vw;
  border: .2em solid white;
  margin: 10% 25vw;
  text-align: center;
  font-size: 35px;
  padding-top: 6%;
  cursor: pointer;
}

.container.sign_band .paso.imagen .image_label .empty {
  font-size: 3em;
}

.container.sign_band .paso.imagen .image_label:focus, .container.sign_band .paso.imagen .image_label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.container.sign_band .paso.imagen .image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.container.sign_band .paso.subida {
  display: none;
}

.container.sign_band .paso.subida a, .container.sign_band .paso.subida ul {
  display: block;
  width: 100%;
  margin-top: 40%;
  text-align: center;
  font-size: 25px;
}

.container.sign_band .paso.subida .bandas_creadas li {
  margin-bottom: 1em;
}

.container.sign_band .sig {
  position: absolute;
  top: 92%;
  width: 10%;
  text-align: center;
  margin-left: 45%;
}

.container.sign_band .boton-med {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 90%;
  width: 75%;
  text-align: center;
  left: 12.5%;
  background-color: white;
  color: #0C3847;
  border-radius: .5em;
  padding: .4em .6em;
}

.container.showtime {
  background-color: #0C3847;
}

.container.showtime .band_name {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 13%;
  text-align: center;
  color: white;
}

.container.showtime .boton {
  color: white;
  text-align: center;
  font-family: "Changa", Arial, helvetica;
  font-weight: 600;
  font-size: 40px;
  display: block;
  padding-top: 17%;
}

.container.showtime .intro_clapp {
  color: white;
}

.container.showtime .menu .menu-tit, .container.showtime .menu .container.login .tabs h3, .container.login .tabs .container.showtime .menu h3 {
  color: white;
}

.container.showtime .menu .menu-tit.active, .container.showtime .menu .container.login .tabs h3.active, .container.login .tabs .container.showtime .menu h3.active {
  color: #0C3847;
}

.container.show_perfil .editar {
  position: fixed;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 15px;
  z-index: 100;
}

.container.show_perfil .editar img {
  width: 24px;
}

.container.show_perfil .editar .save {
  display: none;
}

.container.show_perfil .act .imagen {
  position: relative;
  display: block;
  margin: 27px auto 20px;
  width: 210px;
  height: 208px;
  background: black;
  background-size: cover;
  border-radius: 87px;
}

.container.show_perfil .act .image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.container.show_perfil .act .name {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", Arial, helvetica;
  color: #0C3847;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 40px;
  background: none;
  border: none;
  display: block;
}

.container.show_perfil .act .tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px auto;
}

.container.show_perfil .act .tabs li.menu-tit {
  width: 33%;
  font-size: 20px;
  font-weight: 500;
  color: #0C3847;
}

.container.show_perfil .act .tabs li.menu-tit.active {
  text-decoration: underline;
}

.container.show_perfil .secciones > div {
  display: none;
}

.container.show_perfil .secciones .stats {
  display: block;
}

.container.show_perfil .secciones .stats .resumen {
  position: relative;
  width: 80%;
  margin: 20px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.show_perfil .secciones .stats .resumen li {
  border: 1px solid #0C3847;
  width: 74px;
  height: 63px;
  margin-left: 16px;
  color: #0C3847;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container.show_perfil .secciones .stats .resumen li p {
  width: 100%;
}

.container.show_perfil .secciones .info .descripcion {
  position: relative;
  width: 90%;
  margin: .5em 5%;
  padding: 10px 15px;
  color: #0C3847;
  background: rgba(0, 0, 0, 0.05);
  border: none;
}
/*# sourceMappingURL=styles.css.map */