@import "main";

// ESTILOS GLOBALES
.titulo {
	font-family: $Roboto;
	font-size: 40px;
}
.display-med {
	font-family: $Changa;
	font-size: 25px;
}
.display-sm {
	font-family: $Changa;
	font-size: 18px;
}
.menu-tit {
	font-family: $Changa;
	font-size: 13px;
	font-weight: 200;
	&.active {
		font-size: 20px;
		font-weight: 500;
	}
}
.parrafo {
	font-family: $Roboto;
	font-size: 15px;
	line-height: 1.5em;
}
.parrafo-sm {
	font-family: $Roboto;
	font-size: 10px;
}
.boton-med {
	font-family: $Roboto;
	font-size: 20px;
	font-weight: bold;
}
.boton-sm {
	font-family: $Roboto;
	font-size: 15px;
	font-weight: 400;
}

//ELEMENTOS COMUNES
.container {
	position: fixed;
	// top: 10px;
	left: 0;
	width: 100vw;
	height: 100%;
	max-width: 500px;
	max-height: 812px;
	background-color: $fondo; 
	overflow-x: hidden;
	.menu {
		position: fixed;
		width: 100%;
		height: 35px;
		// left: calc(50% - 180px);
		bottom: 0;
		display: flex;
		text-align: center;
		.menu-tit {
			color: $secundario;
			width: calc(360px / 3);
		}
	}
	.boton {
		position: absolute;
		top: 25%;
		left: calc(50% - 90px);
		width: 180px;
		height: 180px;
		text-align: center;
		display: flex;
		align-items: center;
		border-radius: 100%;
		background-color: $primario;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
		&:hover {box-shadow: none;}
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.cambio_modo {
		position: absolute;
		top: 15px;
		left: 15px;
		font-family: $Roboto;
		font-weight: 400;
		color: $primario;
	}
	.intro_clapp {
		position: absolute;
		bottom: 25%;
		width: 80%;
		left: 10%;
		text-align: center;
		color: $secundario;
		font-family: $Roboto;
	}
	.back {
		position: fixed;
		z-index: 100;
		width: 24px;
		height: 24px;
		left: 15px;
		top: 15px;
		z-index: 100;
		svg {width: 100%; height: 100%;}
	}
	.close {
		position: fixed;
		width: 24px;
		height: 24px;
		right: 15px;
		top: 15px;
		z-index: 100;
	}
	.cabecera {
		width: 226px;
		height: 46px;
		width: 100%;
		margin: 15px auto 10%;
		font-family: $Changa;
		font-size: 28px;
		text-align: center;
	}
	.form-label {
		display: block;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		font-family: $Roboto;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
	}
	.form-input {
		position: absolute;
		top: 47%;
		left: 10%;
		width: 80%;
		text-align: center;
		background: transparent;
		border: none;
		border-bottom: 4px solid white;
		font-family: $Changa;
		font-size: 30px;
		font-weight: 200;
		color: white;
		&::placeholder {opacity: .5; color: white;}
	}
}

//PAGINAS INDIVIDUALES
.home {
	.boton {
		background-color: $primario;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
	}
	.intro_clapp {
		color: $secundario;
	}
}
.login {
	.cabecera {
		height: 116px;
		img {height: 116px;}
	} 
	
	.tabs {
		width:100%;
		display: block;
		margin: 5%;
		cursor: pointer;
		.active {
			font-weight: 600;
		}
		h3 {
			display: inline-block;
			width: 30%;

		}
	}
	.tab {
		display: none;
		position: absolute;
		width: 100%;
		height: auto;
		.form-input {
			position: relative;
			// margin-left: 10%;
			background-color: rgba(0,0,0,.05);
			border: none;
			margin: 5% auto;
			// top: 40%;
			color: $secundario;
			&::placeholder {opacity: .5; color: black;}
		}
		&.active {
			display: block;
		}
	}
	button {
		display: block;
		// position: absolute;
		// bottom: 20%;
		width: 50%;
		margin: 10% 25%;
		// left: 25%;
		color: white;
		padding: 2% 4%;
		background-color: $primario;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3), 0px 0px 15px rgba(252, 81, 48, 0.4);
		border-radius: 11px;
	}
}

.clapp {	
	// background: linear-gradient(0deg, rgba(252, 81, 48, 0.8), rgba(252, 81, 48, 0.8)), 
	// 			url(../images/perfil_markuser.jpg);
	// background-size: cover;
	// background-position: center;
	// // filter: grayscale(100%);
	// background-blend-mode: screen, normal;

	
	.fondo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(0deg, rgba(252, 81, 48, 0.8), rgba(252, 81, 48, 0.8));
		background-blend-mode: screen, normal;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: 0.5;
		}
		// .overlay {
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	mix-blend-mode: screen;
		// 	background: linear-gradient(0deg, rgba(252, 81, 48, 0.8), rgba(252, 81, 48, 0.8));
		// }
	}
	.boton {
		position: relative;
		top: 25%;
		left: calc(50% - 90px);
		width: 180px;
		height: 180px;
		text-align: center;
		display: flex;
		align-items: center;
		border-radius: 100%;
		background-color: $secundario;
		box-shadow: 0px 0px 25.0045px rgba(0, 0, 0, 0.46);
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.btn_clapp .num_clapps {
		position: absolute;
		top: -50px;
		width: 100%;
		font-family: $Roboto;
		color: $secundario;
		font-size: 35px;
	}
	.act {
		position: absolute;
		width: 80%;
		height: 47px;
		left: 10%;
		top: 381px;
		text-align: center;
		.name {
			font-size: 20px;
			color: $secundario;
			b {
				text-transform: uppercase;
				text-decoration: underline;
				font-weight: 900;
				font-size: 40px;
			}
		}
	}
}

.historial {
	background: linear-gradient(117.2deg, #D65238 3.41%, #7D352B 97.16%, #17225C 111.5%);
	.cabecera {color: white;}
	.menu .menu-tit {
		color: white;
	}	
	
	.clapps {
		width: 100%;
		margin-top: 50px;
		padding: 20px;
		.clappeado {
			display: block;
			position: relative;
			height: 60px;
			width: 100%;
			display: flex;
			justify-content: center;
			img {
				// position: absolute;
				width: 16%;
				height: 85%;
				margin-right: 10px;
				// left: 75px;
				// top: 27px;
				// background: url(../images/perfil_markuser.jpg);
				// background-size: cover;
				border-radius: 87px;
			}
			.band {
				// display: inline-block;
				width: 70%;
				font-family: $Roboto;
				color: white;
				font-size: 20px;
			}
			.clapps_dados {
				// display: inline-block;
				font-family: $Roboto;
				color: white;
				font-size: 20px;
			}
		}
	}
}

.perfil {
	background: linear-gradient(110.65deg, #DE664F 3.41%, #972B1E 111.5%);
	.act {	
		.elipse {
			position: absolute;
			width: 140%;
			height: 100%;
			left: 0;
			top: 107px;
		}
		.imagen {
			position: relative;
			display: block;
			margin: 27px auto 20px;
			width: 210px;
			height: 208px;
			background: black;
			background-size: cover;
			background-position: center;
			border-radius: 87px;
		}
		.name {
			position: relative;
			width: 80%;
			margin: 0 auto;
			text-align: center;
			font-family: $Roboto;
			color: white;
			font-style: normal;
			font-weight: 900;
			line-height: normal;
			font-size: 40px;
		}
		.resumen {
			position: relative;
			width: 80%;
			margin: 20px auto 30px;
			display: flex;
			align-items: center;
			
			li {
				border: 1px solid white;
				width: 74px;
				height: 63px;
				margin-left: 16px;
				color: white;
				display: flex;
				align-items: center;
				text-align: center;
				p {
					width: 100%;
					span {display: block;}
				}
				&.clapps {
					background: url(../images/clapp-rojo.png) no-repeat;
					background-position: center;
					background-size: 75%;
					background-color: $primario;
					border: none;
					border-radius: 5px;
				}
			}
		}
		.seguir {
			position: relative;
			width: 100%;
			height: 30px;
			.boton-sm {
				// float: right;
				// margin-right: 18%;
				width: 7em;
				margin: 0 auto;
				padding: .5em 1em .7em;
				text-align: center;
				border-radius: 12px;
				background: #FFFFFF;
				color: $secundario;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
				&.active {
					border: 1px solid white;
					background: transparent;
					color: white;
					box-shadow: none;
				}	
			}
		}
		.descripcion {
			position: relative;
			width: 100%;
			margin: 100px auto;
			padding: 0 15px;
			color: white;
		}
	}
}
.opciones {
	.cabecera {color: $secundario};
	.boton-med {
		display: block;
		width: 80%;
		margin: 0 auto;
		padding: .5em 1em .7em;
		text-align: center;
		border-radius: 12px;
		background: $secundario;
		color: white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	}
}
.sign_band {
	background-color: $secundario;
	color: white;
	.paso {
		display: none;
		&.active {display: block;}
		&.imagen {
			.image_label {
				display: block;
				width: 50vw;
				height: 50vw;
				border: 4px solid white;
				margin: 20% 25vw;
				text-align: center;
				padding-top: 12%;
				font-size: 20vw;
				cursor: pointer;
				&:focus, &:hover {
					background-color: rgba(255,255,255,.2);
				}
			}
			.image-input {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}
		}
	}
	.boton-sm {
		position: absolute;
		bottom: 5%;
		width: 10%;
		margin-left: 45%;
	}
}

.showtime {
	background-color: $secundario;
	.boton {
		color: white;
		text-align: center;
		font-family: $Changa;
		font-weight: 600;
		font-size: 40px;
		padding-left: .8em;
	}
	.intro_clapp {
		color: white;
	}
	.menu .menu-tit {
		color: white;
	}
}
.show_perfil {
	.act {	
		.imagen {
			position: relative;
			display: block;
			margin: 27px auto 20px;
			width: 210px;
			height: 208px;
			background: black;
			background-size: cover;
			border-radius: 87px;
		}
		.name {
			position: relative;
			width: 80%;
			margin: 0 auto;
			text-align: center;
			font-family: $Roboto;
			color: $secundario;
			font-style: normal;
			font-weight: 900;
			line-height: normal;
			font-size: 40px;
		}
		.tabs {
			position: relative;
			display: flex;
			align-items: center;
			text-align: center;
			margin: 20px auto;
			li.menu-tit {
				width: 33%;
				font-size: 20px;
				font-weight: 500;
				color: $secundario;
				&.active {
					text-decoration: underline;
				}
			}
			
		}
	}
	.secciones {
		&>div {
			display: none;
		}
		.stats {
			display: block;
			.resumen {
				position: relative;
				width: 80%;
				margin: 20px auto 30px;
				display: flex;
				align-items: center;
				
				li {
					border: 1px solid $secundario;
					width: 74px;
					height: 63px;
					margin-left: 16px;
					color: $secundario;
					display: flex;
					align-items: center;
					text-align: center;
					p {width: 100%;}
				}
			}
		}
		.info {
			.descripcion {
				position: relative;
				width: 100%;
				margin: 100px auto;
				padding: 0 15px;
				color: $secundario;
			}
		}
	}
}




	

