prototipo/js/firebase-config.js
beta/js/firebase-config.js
prototipo/js/firebase-config.js
beta/js/firebase-config.js
prototipo/js/firebase-config.js
_prototipo-dev/node_modules
_prototipo-dev/dist
_prototipo-dev/node_modules
