@import "fonts";
@import "grid";
@import "global";

:root {
      --roboto: "Roboto", Arial, helvetica;
    --changa: "Changa", Arial, helvetica;

    --rojo01: #FC5130;
    --azul01: #0C3847;
    --gris01: #F1F1F1;
    --gris04: #333;

    --color_cta: var(--rojo01);
    --color_fondo: var(--gris01);
    --color_texto: var(--gris04);
}

#app {
	font-family: var(--roboto);
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--color_fondo);
	.view {
		max-width: 1200px;
		margin: 0 auto;
		.cabecera {
			display: flex;
			align-items: center;
			justify-content: center;
			&>* {margin: 0 1em;}
			.nav_link {
				font-family: var(--changa);	
				color: var(--color_texto);
				font-size: 1.8em; 
				text-decoration: underline!important;
			}
		}
	}

	.tit {
		font-family: var(--changa);
		color: var(--color_texto);
		font-size: 1.8em; 
		font-weight: bold;
	}
	p .parrafo {
		color: var(--color_texto);
		font-size: 1em;
		line-height: 1.3em;
	}
	.small {
		color: var(--color_texto);
		font-size: .8em;
		line-height: 1.2em;
	}
	.boton, .cta {
		display: inline-block;
		background-color: #333;
		padding: .5em 1em;
		color: white;
		border-radius: 4px;
		text-align: center;
		cursor: pointer;
	}
	a { text-decoration: underline;}
	p {margin-bottom: 0;}
	.link {cursor: pointer;}
	.bold, b {font-weight: bold;}
	.semibold {font-weight: 600;}
	.light {font-weight: 300;}
	.centered {text-align: center;}   
	.tabla {
		position: relative;
		width: 100%;
		max-width: 80vw;
		margin: 2em auto;
		height: auto;
		.fila {
			margin: .5em 0;
			padding: .5em;
			width: 100%;
			display: flex;
			&:not(.cabecero):hover {
				background-color: rgba(0,0,0,.1);
				cursor: pointer;
			}
			h3, p, input {
				width: 20%;
				text-align: left;
			}
		}
	}	

	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		z-index: 101;
		background-color: rgba(0,0,0,.5);
		align-items: center;
		justify-content: center;
		z-index: 10;
		.sub_modal {
			position: relative;
			width: 80%;
			max-width: 90em;
			height: auto;
			min-height: 40vh;
			max-height: 80vh;
			overflow-y: scroll;
			padding: 2em 5% 2em;
			margin: auto;
			border-radius: 5px;
			background-color: #333;
			.cerrar {
				position: absolute;
				top: 2em;
				right: 1.8em;
				cursor: pointer;
			}
			.form {
				width: 100%;
				max-height:80vh;
				overflow-y: auto;
				overflow-x: hidden;
				display: flex;
    		flex-flow: column;
				justify-content: space-between;
				input {
					height: 2em;
					padding: .5em .5em .3em;
					min-width: 5rem;
					border: none;
					border: 1px solid #fff;
					border-radius: .25em;
					margin-bottom: 1em;
					&:focus { outline:none; }
				}
				.fila_botones {
					display: flex;
					align-items: flex-end;
					justify-content: flex-end;
				}
				.boton {
					margin: 2em 0 0 1em;
					padding: .7em 1em;
					border-radius: .25em;
					cursor: pointer;
					&.cta {
						background-color: white;
						color: #333;
						&.disabled {opacity: .5; cursor: not-allowed;}
					}
					&.delete {
						border: 1px solid white;
						color: white;
					}
					&:disabled {opacity: .5; cursor:default;}
				}
			}
		}
	}
}