@import "global";

.container.clapp {	
	// background: linear-gradient(0deg, rgba(252, 81, 48, 0.8), rgba(252, 81, 48, 0.8)), 
	// 			url(../images/perfil_markuser.jpg);
	// background-size: cover;
	// background-position: center;
	// // filter: grayscale(100%);
	// background-blend-mode: screen, normal;

	
	.fondo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(150.64deg, rgba(252, 81, 48, 0.78) 0%, rgba(252, 81, 48, 0.893016) 51.37%, #FC5130 100%);
		background-blend-mode: screen, normal;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: 0.5;
		}
		// .overlay {
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	mix-blend-mode: screen;
		// 	background: linear-gradient(0deg, rgba(252, 81, 48, 0.8), rgba(252, 81, 48, 0.8));
		// }
	}
	.boton {
		position: relative;
		top: 25%;
		left: calc(50% - 90px);
		width: 180px;
		height: 180px;
		text-align: center;
		display: flex;
		align-items: center;
		border-radius: 100%;
		background-color: var(--color_secundario);
		box-shadow: 0px 0px 25.0045px rgba(0, 0, 0, 0.46);
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.btn_clapp .num_clapps {
		position: absolute;
		top: -50px;
		width: 100%;
		font-family: var(--roboto);
		color: var(--color_secundario);
		font-size: 35px;
	}
	.act {
		position: absolute;
		width: 80%;
		height: 47px;
		left: 10%;
		top: 381px;
		text-align: center;
		.name {
			font-size: 20px;
			color: var(--color_secundario);
			b {
				text-transform: uppercase;
				// text-decoration: underline;
				font-weight: 900;
				font-size: 40px;
			}
		}
	}
	.no_show {
		display: none;
		position: absolute;
		width: 100vw;
		height: 80%;
		top: 20%;
		padding: 0 1.5em;
		.display-med {
			color: var(--color_secundario);
			text-align: center;
		}
		.link_registrar {
			color: white;
			text-align: center;
			border: 2px solid white;
			border-radius: 10px;
			padding: .3em .2em;
			margin: 15% auto 5%;
			cursor: pointer;
		}
		.link_show_cercano {
			color: var(--color_secundario);
			text-decoration: underline;
			text-align: center;
			.show_cercano {

			}
		}
	}
	.registrar_act {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		background: var(--color_secundario);
		.parrafo {
			color: white;
			width: 100%;
			text-align: center;
			margin: 5% 0;
		}
		.display-med {
			color: white;
			width: 90%;
			text-align: center;
			margin: 15% 5%;
		}
		img {
			width: 80%;
   			margin: 5% 10%;
		}
	}
	.show_cercano {
		display: none;
		position: absolute;
		width: 100vw;
		height: 80%;
		top: 20%;
		padding: 0 1.5em;
		.parrafo {
			color: var(--color_secundario);
			width: 100%;
			text-align: center;
			margin: 5% 0;
		}
		.titulo {
			color: var(--color_secundario);
			width: 90%;
			text-align: center;
			margin: 15% 5%;
		}
	}
	.postclapp-survey {
		display: none;
		top: 5%;
		left: 0;
		height: 100%;
		z-index: 400;
		width: 100%;
		position: fixed;
		.typeform-widget {
			margin-left: 5%;
			margin-top: 5%;
			box-shadow: 0 0 20px rgba(0,0,0,.2);
		}
	}
}
