//VARIABLES

:root {
  --roboto: "Roboto", Arial, helvetica;
  --changa: "Changa", Arial, helvetica;

  --color-dark: #050401;
  --color-light: #ffffff;
  --color-degradado-ppal: linear-gradient(162.44deg, rgba(252, 81, 48, 0.78) 0%, rgba(252, 81, 48, 0.893016) 51.37%, #FC5130 100%);
  --color-primario-fans: #FC5130;
  --color-primario-bands: #0C3847;
  --color-fondo-degradado-fans: linear-gradient(132.46deg, #D65238 3.41%, #7D352B 97.16%, #17225C 111.5%);
  --color-fondo-degradado-bands: linear-gradient(163.66deg, #0C334B 3.84%, #1B5274 90.94%);
  --color-fondo-light: #F1F1F1;
  --color-fondo-dark: #031927;

  --Bigdesktop:"(min-width:1366px)";
  --mobile:"(max-width:768px)";
}

// ESTILOS GLOBALES
p,li,a,span {
	color: var(--color_texto);
}
h1,h2,h3 {
	color: var(--color_titulo, var(--color_texto));
}
.titulo, h1 {
	font-family: var(--changa);
	font-size: clamp(30px, 4.5vw, 45px);
}
.display-big, h2 {
	font-family: var(--changa);
	font-size: 35px;
}
.display-med, h3 {
	font-family: var(--changa);
	font-size: 25px;
}
.display-sm {
	font-family: var(--changa);
	font-size: 18px;
}
.menu-tit {
	font-family: var(--changa);
	font-size: 13px;
	font-weight: 200;
	&.active {
		font-size: 20px;
		font-weight: 500;
		text-decoration: underline;
	}
}
// .titulo {
// 	font-family: var(--roboto);
//     line-height: 1.5em;
//     font-size: 30px;
//     font-weight: 900;
// }
.parrafo-big {
	font-family: var(--roboto);
	font-size: 20px;
	line-height: 1.5em;
}
p, .parrafo, .parr {
	font-family: var(--roboto);
	font-size: clamp(13px, calc(13px + .5vw), 17px);
	line-height: 1.3em;
	font-weight: normal;
	margin-bottom: 1.2em;
}
.parrafo-sm {
	font-family: var(--roboto);
	font-size: 10px;
}
.txt-sm {
	font-family: var(--roboto);
	font-size: 12px;
	font-weight: normal;
}
.txt-md {
	font-family: var(--roboto);
	font-size: 16px;
	font-weight: bold;
}
.txt-lg {
	font-family: var(--roboto);
	font-size: 21px;
	font-weight: bold;
}
.boton-med {
	font-family: var(--roboto);
	font-size: 20px;
	font-weight: bold;
}
.boton-sm {
	font-family: var(--roboto);
	font-size: 15px;
	font-weight: 400;
}
b {font-weight: bold;}


