@import "variables";
@import "global";

//ELEMENTOS COMUNES
.page {
	padding: 20px 15px 10vh;
	min-height: 100vh;
	.cabecera {
		min-height: 5vh;
		width: 100%;
		margin-bottom: 5%; 
		font-family: var(--changa);
		z-index: 20;
	}
}
// .overlay {
// 	position: relative;
// 	width: 100vw;
// 	height: 100vh;
// 	top: 0;
// 	left: 0;
// 	background-color: rgba(0,0,0,.3);
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	z-index: 1000;
// 	.ov_box {
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		min-height: 15vh;
// 		width: 85vw;
// 		background-color: var(--color-primario-fans);
// 		color: white;
// 		padding: 1em;
// 		text-align: center;
// 		border-radius: .5em;
// 		font-size: 1.5em;
// 	}
// }

.boton {
	font-size: 1.2em;
	font-family: var(--roboto);
	text-align: center;
	border-radius: 1em;
	padding: .75em;
	background-color: var(--color-primario-fans);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
	&:hover {box-shadow: none;}
	&.cta {
		background-color: var(--color-primario-bands);
		width: 100%;
		color: white;
	}
}
	// .cambio_modo {
	// 	position: absolute;
	// 	top: 15px;
	// 	left: 15px;
	// 	font-family: var(--roboto);
	// 	font-weight: 400;
	// 	color: var(--color-primario-fans);
	// }
	

// .popup {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	display: flex;
// 	align-items: center;
// 	background-color: rgba(0,0,0,.5);
// 	backdrop-filter: blur(2px);
// 	z-index: 1000;
// 	.sub_popup {
//         position: relative;
// 		border-radius: .5em;
// 		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
// 		margin: 0 auto;
// 		width: 90vw;
// 		max-height: 95vh;
// 		background-color: white;
// 		display: block;
// 		z-index: 100;
// 		overflow: hidden;
//         overflow-y: scroll;
// 		padding: 1em 5vw;
//         min-height: 45vh;
// 		.form-input {color: var(--texto_oscuro)}
//         .boton-med {margin: 1em auto -1em; width: 100%;}
// 		// label {color: black!important;}
		
// 	}
//     &.small {
//         .sub_popup {
//             width: 90vw;
//             height: auto;
//             padding: 2em 5vw;
//             overflow: hidden;
//             .titulo {text-align: center;}
//             .hora {
//                 // width: 100%;
//                 display: block;
//                 margin: 1em auto;
//                 padding: .5em .7em;
//                 // box-shadow: 0 2px 10px rgba(0,0,0,.1);
//                 // border-radius: 5px;
//                 font-size: 1em;
//                 font-weight: lighter;
//                 text-align: center;
//                 input {
//                     font-size: 2em;
//                     font-weight: bold;
//                     width: 4em;
//                     display: block;
//                     margin: 0 auto;
//                     &::-webkit-clear-button,&::-webkit-datetime-edit-ampm-field {display: none;}
//                     // margin-right: -1em;
//                 }
//             }
//             .boton-med {
//                 width: 100%;
//                 box-shadow: 0 2px 15px rgba(0,0,0,.15);
//             }
//         }
//     }
// }



//PAGINAS INDIVIDUALES

// .container.historial {
// 	background: linear-gradient(117.2deg, #D65238 3.41%, #7D352B 97.16%, #17225C 111.5%);
// 	.cabecera {color: white;}

// 	.clapps {
// 		width: 100%;
// 		margin-top: 50px;
// 		padding: 20px;
// 		.clappeado {
// 			display: block;
// 			position: relative;
// 			height: 60px;
// 			width: 100%;
// 			a {
// 				display: flex;
// 				justify-content: center;
// 				img {
// 					// position: absolute;
// 					width: 15vw;
// 					height: 15vw;
// 					margin-right: 10px;
// 					// left: 75px;
// 					// top: 27px;
// 					// background: url(../images/perfil_markuser.jpg);
// 					// background-size: cover;
// 					border-radius: 87px;
// 				}
// 				.band {
// 					// display: inline-block;
// 					width: 70%;
// 					font-family: var(--roboto);
// 					color: white;
// 					font-size: 20px;
// 				}
// 				.clapps_dados {
// 					// display: inline-block;
// 					font-family: var(--roboto);
// 					color: white;
// 					font-size: 20px;
// 				}
// 			}	
// 		}
// 	}
// }

// .container.perfil {
// 	background: linear-gradient(110.65deg, #DE664F 3.41%, #972B1E 111.5%);
// 	.act {	
// 		.elipse {
// 			position: absolute;
// 			width: 140%;
// 			height: 100%;
// 			left: 0;
// 			top: 107px;
// 		}
// 		.imagen {
// 			position: relative;
// 			display: block;
// 			margin: 27px auto 20px;
// 			width: 210px;
// 			height: 208px;
// 			background: black no-repeat;
// 			background-size: cover;
// 			background-position: center;
// 			border-radius: 87px;
// 		}
// 		.name {
// 			position: relative;
// 			width: 80%;
// 			margin: 0 auto;
// 			text-align: center;
// 			font-family: var(--roboto);
// 			color: white;
// 			font-style: normal;
// 			font-weight: 900;
// 			line-height: normal;
// 			font-size: 40px;
// 		}
// 		.resumen {
// 			position: relative;
// 			width: 80%;
// 			margin: 20px auto 30px;
// 			display: flex;
// 			align-items: center;
			
// 			li {
// 				border: 1px solid white;
// 				width: 74px;
// 				height: 63px;
// 				margin-left: 16px;
// 				color: white;
// 				display: flex;
// 				align-items: center;
// 				text-align: center;
// 				p {
// 					width: 100%;
// 					span {display: block;}
// 				}
// 				&.clapps {
// 					background: url(../../public/images/clapp-rojo.png) no-repeat;
// 					background-position: center;
// 					background-size: 75%;
// 					background-color: var(--color-primario-fans);
// 					border: none;
// 					border-radius: 5px;
// 				}
// 			}
// 		}
// 		.seguir {
// 			position: relative;
// 			width: 70%;
// 			margin: 0 auto;
// 			height: 30px;
// 			.rrss {
// 				float: left;
// 				a {
// 					display: inline-block;
// 					width: 2em;
// 					height: 2em;
// 					background-size: contain;
// 					background-repeat: no-repeat;  
// 				}
// 			}
// 			.boton-sm {
// 				float: right;
// 				width: 7em;
// 				margin: 0 auto;
// 				padding: .5em 1em .7em;
// 				text-align: center;
// 				border-radius: 12px;
// 				background: #FFFFFF;
// 				color: var(--color-primario-bands);
// 				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
// 				&.active {
// 					border: 1px solid white;
// 					background: transparent;
// 					color: white;
// 					box-shadow: none;
// 				}	
// 			}
// 		}
// 		.descripcion {
// 			position: relative;
// 			width: 100%;
// 			margin: 100px auto;
// 			padding: 0 15px;
// 			color: white;
// 		}
// 	}
// }
// .container.opciones, .container.bandas {
// 	.cabecera {color: var(--color-primario-bands)};
// 	.boton-med {
// 		display: block;
// 		width: 80%;
// 		margin: 10% auto;
// 		padding: .5em 1em .7em;
// 		text-align: center;
// 		border-radius: 12px;
// 		background: var(--color-primario-bands);
// 		color: white;
// 		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
// 	}
// }
// .container.sign_band {
// 	background-color: var(--color-primario-bands);
// 	color: white;
// 	.close .skip {display: none; margin-left: -2vw;} 
// 	.cabecera {padding: 0 25%;}

// 	.paso {
// 		display: none;
// 		.form-input:focus {
// 			top: 70%;
// 		}
// 		&.active {display: block;}
// 		&.ciudad {
// 			.bandup {
// 				display: none;
// 			}
// 		}
// 		&.imagen {
// 			.image_label {
// 				display: block;
// 				width: 50vw;
// 				height: 50vw;
// 				border: .2em solid white;
// 				margin: 10% 25vw;
// 				text-align: center;
// 				font-size: 35px;
// 				padding-top: 6%;
// 				.empty {
// 					font-size: 3em;
// 				}
// 				cursor: pointer;
// 				&:focus, &:hover {
// 					background-color: rgba(255,255,255,.2);
// 				}
// 			}
// 			.image-input {
// 				width: 0.1px;
// 				height: 0.1px;
// 				opacity: 0;
// 				overflow: hidden;
// 				position: absolute;
// 				z-index: -1;
// 			}
// 		}
// 		&.subida {
// 			display: none;
// 			a, ul {
// 				display: block;
// 				width: 100%;
// 				margin-top: 40%;
// 				text-align: center;
// 				font-size: 25px;
// 			}
// 			.bandas_creadas {
// 				li {margin-bottom: 1em;}
// 			}
// 		}
// 	}
// 	.sig {
// 		position: absolute;
// 		top: 92%;
// 		width: 10%;
// 		text-align: center;
// 		margin-left: 45%;
// 	}
// 	.boton-med {
// 		font-size: 20px;
// 		font-weight: bold;
// 		position: absolute;
// 		top: 90%;
// 		width: 75%;
// 		text-align: center;
// 		left: 12.5%;
// 		background-color: white;
// 		color: var(--color-primario-bands);
// 		border-radius: .5em;
// 		padding: .4em .6em;
// 	}
// }

// .container.showtime {
// 	background-color: var(--color-primario-bands);
// 	.band_name {
// 		position: absolute;
// 		width: 80%;
// 		left: 10%;
// 		top: 13%;
// 		text-align: center;
// 		color: white;
// 	}
// 	.boton {
// 		color: white;
// 		text-align: center;
// 		font-family: var(--changa);
// 		font-weight: 600;
// 		font-size: 40px;
// 		display: block;
//     	padding-top: 17%;
// 	}
// 	.intro_clapp {
// 		color: white;
// 	}
// }
// .container.show_perfil {
// 	.editar {
// 		position: fixed;
// 		background: white;
// 		padding: 15px;
// 		width: 50px;
// 		height: 50px;
// 		right: 0;
// 		top: 0;
// 		z-index: 100;
// 		border-bottom-left-radius: 5px;
// 		box-shadow: 0px 0px 15.5263px rgba(0, 0, 0, 0.27);
// 		img {width: 24px;}
// 		.save {display: none;}
// 		&.able {
// 			background: #666666;
// 			box-shadow: none;
// 		}
// 	}
// 	input, textarea {
// 		&.able {
// 			background: white!important;
// 			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
// 			border-radius: 1px;
// 		}
// 	}
// 	.act {	
// 		.imagen {
// 			position: relative;
// 			display: block;
// 			margin: 27px auto 20px;
// 			width: 210px;
// 			height: 208px;
// 			background: black;
// 			background-size: cover;
// 			border-radius: 87px;
// 			&.able {
// 				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
// 			}
// 		}
// 		.image-input {
// 			width: 0.1px;
// 			height: 0.1px;
// 			opacity: 0;
// 			overflow: hidden;
// 			position: absolute;
// 			z-index: -1;
// 		}
// 		.name {
// 			position: relative;
// 			width: 80%;
// 			margin: 0 auto;
// 			text-align: center;
// 			font-family: var(--roboto);
// 			color: var(--color-primario-bands);
// 			font-style: normal;
// 			font-weight: 900;
// 			line-height: normal;
// 			font-size: 40px;
// 			background: none;
// 			border: none;
// 			display: block;
// 		}
// 		.tabs {
// 			position: relative;
// 			display: flex;
// 			align-items: center;
// 			text-align: center;
// 			margin: 20px auto;
// 			li.menu-tit {
// 				width: 33%;
// 				font-size: 20px;
// 				font-weight: 500;
// 				color: var(--color-primario-bands);
// 				&.router-link-exact-active {
// 					text-decoration: underline;
// 				}
// 			}
			
// 		}
// 	}
	
// 	.secciones {
// 		&>div {
// 			display: none;
// 		}
// 		.stats {
// 			display: block;
// 			.resumen {
// 				position: relative;
// 				width: 80%;
// 				margin: 20px auto 30px;
// 				display: flex;
// 				align-items: center;
				
// 				li {
// 					border: 1px solid var(--color-primario-bands);
// 					width: 74px;
// 					height: 63px;
// 					margin-left: 16px;
// 					color: var(--color-primario-bands);
// 					display: flex;
// 					align-items: center;
// 					text-align: center;
// 					p {width: 100%;}
// 				}
// 			}
// 		}
// 		.info {
// 			.descripcion {
// 				position: relative;
// 				width: 90%;
// 				margin: .5em 5%;
// 				padding: 10px 15px;
// 				color: var(--color-primario-bands);
// 				background: rgba(0,0,0,.05);
// 				border: none;
// 			}
// 		}
// 	}
// }
// .container.historial_shows {
// 	.proximamente {
// 		position: fixed;
// 		width: 100%;
// 		text-align: center;
// 		margin-top: 40vh;
// 		color: white; 
// 	}
// 	img {
// 		width: 100%;
// 		height: 100%;
// 	}
// }




	

