@import "_main";

.page {
    width: 100vw;
    height: 95vh;
}



// ESTILOS GLOBALES
.titulo {
	font-family: $Roboto;
	font-size: 40px;
}
.display-big {
	font-family: $Changa;
	font-size: 35px;
}
.display-med {
	font-family: $Changa;
	font-size: 25px;
}
.display-sm {
	font-family: $Changa;
	font-size: 18px;
}
.menu-tit {
	font-family: $Changa;
	font-size: 13px;
	font-weight: 200;
	&.active {
		font-size: 20px;
		font-weight: 500;
		text-decoration: underline;
	}
}
.parrafo {
	font-family: $Roboto;
	font-size: 15px;
	line-height: 1.5em;
}
.parrafo-sm {
	font-family: $Roboto;
	font-size: 10px;
}
.boton-med {
	font-family: $Roboto;
	font-size: 20px;
	font-weight: bold;
}
.boton-sm {
	font-family: $Roboto;
	font-size: 15px;
	font-weight: 400;
}
b {font-weight: bold;}

//ELEMENTOS COMUNES
.container {
	position: fixed;
	// top: 10px;
	left: 0;
	width: 100vw;
	height: 100%;
	max-width: 500px;
	max-height: 812px;
	background-color: $fondo; 
	overflow-x: hidden;
	.menu {
		position: fixed;
		width: 100%;
		height: 35px;
		// left: calc(50% - 180px);
		top: calc(100% - 35px);
		display: flex;
		text-align: center;
		.menu-tit {
			color: $secundario;
			width: 33%;
			&.active {
                transition: all .5s ease-in-out;
				background-color: white;
				border-radius: 100%;
				height: 6em;
				padding-top: 40px;
				position: relative;
				top: -2em;
			}
		}
	}
    .boton {
        position: relative;
        display: block;
        padding: .8em 1em;
        text-align: center;
        background-color: $secundario;
        color: white;
        margin: 0 auto;
    }
	.boton_preclapp {
		position: absolute;
		top: 25%;
		left: calc(50% - 90px);
		width: 180px;
		height: 180px;
		text-align: center;
		display: flex;
		align-items: center;
		border-radius: 100%;
		background-color: $primario;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27), 0px 0px 20px rgba(252, 81, 48, 0.2);
		&:hover {box-shadow: none;}
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.cambio_modo {
		position: absolute;
		top: 15px;
		left: 15px;
		font-family: $Roboto;
		font-weight: 400;
		color: $primario;
	}
	.intro_clapp {
		position: absolute;
		bottom: 25%;
		width: 80%;
		left: 10%;
		text-align: center;
		color: $secundario;
		font-family: $Roboto;
	}
	.back {
		position: fixed;
		z-index: 100;
		width: 24px;
		height: 24px;
		left: 15px;
		top: 15px;
		z-index: 100;
		svg {width: 100%; height: 100%;}
	}
	.icon-esquina {
		position: fixed;
		width: 24px;
		height: 24px;
		right: 15px;
		top: 15px;
		text-align: center;
		z-index: 100;
	}
	.cabecera {
		width: 226px;
		height: 46px;
		width: 100vw;
		margin: 30px auto 20%;
		font-family: $Changa;
		font-size: 35px;
		text-align: center;
	}
	.form-label {
		display: block;
		width: 80%;
		margin: 0 auto;
		text-align: left;
		font-family: $Roboto;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
        color: white;
	}
	.form-input {
        display: block;
		width: 80%;
		text-align: center;
		background: transparent;
		border: none;
		border-bottom: 4px solid white;
		font-family: $Changa;
		font-size: 25px;
		font-weight: 600;
		color: white;
		&::placeholder {opacity: .5; color: white; font-weight: 200;}
	}
}
